pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-pinecone
defusedxml
langchain-google-genai
langchain-huggingface
langchain-ollama
langchain-experimental
langchain-astradb
ollama
chromadb
sentence-transformers
pypdf
bs4
arxiv
pymupdf
wikipedia
faiss-cpu
scikit-learn
pymilvus
langgraph
duckduckgo-search
youtube-search
youtube-search-python
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
