pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-pinecone
defusedxml
langchain-google-genai
langchain-huggingface
langchain-ollama
ollama
chromadb
sentence-transformers
pypdf
bs4
arxiv
pymupdf
wikipedia
faiss-cpu
scikit-learn